data_tts/
numbers.log
TO_DO.txt
google-cloud-sdk/
retico/__pycache__/
retico/core/__pycache__/
retico/core/audio/__pycache__/
retico/core/dialogue/__pycache__/
retico/core/text/__pycache__/
retico/modules/__pycache__/
retico/modules/google/__pycache__/	
retico/modules/rasa/__pycache__/
retico/own_modules/__pycache__/
retico/modules/google/__pycache__/
.vscode/
gAPI.json
export.sh
env/*
